<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Lists in Python</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

# List


- *`List` is an ordered sequence of items.*
- *We can have different data types under a list. E.g we can have integer, float and string items in a same list.*
- *`Lists` are constructed with brackets [] and commas separating every element in the list.*

### List Creation

In [3]:
empty_list = []

In [4]:
print(type(empty_list))

<class 'list'>

In [8]:
# List of integers numbers
array = [1,2,3,4,5]
array

[1, 2, 3, 4, 5]

In [11]:
# List of float numbers
list2 = [10.77,30.66,60.89]
list2

[10.77, 30.66, 60.89]

In [6]:
# List of strings
names = ['Omar','Bakr','Mahmoud','Hoda','Walaa']
names

['Omar', 'Bakr', 'Mahmoud', 'Hoda', 'Walaa']

In [7]:
# List of mixed data types
a = ['Omar','Bakr', 5,'Mahmoud', 47, True, 2.41 ,False]
a

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False]

In [209]:
# Nested Lists
s = ['Omar', 25 ,[50, 100],[150, 90]]

In [210]:
message = "Hello world!"

message_list = list(message)
print(message_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [16]:
# Length of list
len(s)

4

## List Indexing

This figure in image show the list indexing   <img src="list.png" width=600 height=600 />

In [18]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs

['border collie', 'australian cattle dog', 'labrador retriever']

#### Retreive the first element of the list

In [19]:
ogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[0]
print(dog.title())

Border Collie

In [22]:
# the second element of the list
dog = dogs[1]
print(dog.title())

Australian Cattle Dog

#### Retreive the last element of the list

In [23]:
dog = dogs[-1]
print(dog.title())

Labrador Retriever

#### `Nested indexing` - Access the first character of the first list element

In [27]:
dogs[0][0]

'b'

In [30]:
dogs[2][:3]

'lab'

#### A common `mistake` when accessing the index

In [35]:
dog = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[4]
print(dog.title())

IndexError: list index out of range

#### You can update the `list` using indexing

In [37]:
dog[1] = 'michel'
dog

['border collie', 'michel', 'labrador retriever']

##  Lists Slicing

In [77]:
_list = ['Omar','Bakr', 5,'Mahmoud', 47, True, 2.41 ,False]
_list

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False]

In [50]:
# fetch element at index 0
_list[0]

'Omar'

In [51]:
# Return whole list
_list[:]

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False]

In [49]:
# fetch the last element at list
_list[-1]

False

In [41]:
# Return all items from 0th to 3rd index location excluding the item at location 3
_list[0:3]

['Omar', 'Bakr', 5]

In [42]:
# Return all items from 2nd to 5th index location excluding the item at loc 5
_list[2:5]

[5, 'Mahmoud', 47]

In [44]:
# Return first two items
_list[:2]

['Omar', 'Bakr']

In [47]:
# Return last two items
_list[-2:]

[2.41, False]

## List Properties
**Add , Remove & Change Items**

In [78]:
_list

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False]

If you want to add new item in the list and don't change the original list: use '+'

In [79]:
_list + ['new item']

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False, 'new item']

In [80]:
_list

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False]

In [81]:
# change the list
_list = _list + ['new item']
_list

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False, 'new item']

In [84]:
# Double the list in the same list but it will change the original list!
_list * 2

['Omar',
 'Bakr',
 5,
 'Mahmoud',
 47,
 True,
 2.41,
 False,
 'new item',
 'Omar',
 'Bakr',
 5,
 'Mahmoud',
 47,
 True,
 2.41,
 False,
 'new item']

In [85]:
_list

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False, 'new item']

In [59]:
_list.append(5) # Add an item to the end of the list  
mylist

['Omar', 'Bakr', 5, 'Mahmoud', 47, True, 2.41, False, 5]

## List Methods and Functions

In [86]:
# If you want to create new list you can use list() method
new = list()

In [87]:
new

[]

### index()
*Search for an item in a list*

In [89]:
names = ['Omar', 'Bake', 'Mahmoud','Ahmed']
print(names.index('Mahmoud'))

2

In [93]:
# check about element
print('Mahmoud' in names)
print('Ali' in names)

True
False

### append()
Adding an item to the list using the append method

In [94]:
_list.append('appended item!')
_list

['Omar',
 'Bakr',
 5,
 'Mahmoud',
 47,
 True,
 2.41,
 False,
 'new item',
 'appended item!']

In [116]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist.append('nine')
mylist.append('ten')

for i in mylist:
    print(i.title() + "...extention")

One...extention
Two...extention
Three...extention
Four...extention
Five...extention
Six...extention
Seven...extention
Eight...extention
Nine...extention
Ten...extention

### insert()
Adding an item to the list using the insert method

In [118]:
_list.insert(0,'First item')
_list

['First item',
 'First item',
 'First item',
 'Omar',
 'Bakr',
 5,
 'Mahmoud',
 47,
 True,
 2.41,
 False,
 'new item',
 'appended item!',
 'neeew']

### remove()
Remove an item to the list using the remove method

In [119]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [120]:
# Remove item "five"
mylist.remove('five') 
mylist

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine', 'ten']

*Another way to remove using `del` keyword*

In [121]:
mylist

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine', 'ten']

In [122]:
del mylist[4]
mylist

['one', 'two', 'three', 'four', 'seven', 'eight', 'nine', 'ten']

### pop()
* Remove last item of the list
* Remove item at a particular index Ex. location 8

In [123]:
mylist

['one', 'two', 'three', 'four', 'seven', 'eight', 'nine', 'ten']

In [124]:
mylist.pop()

'ten'

In [125]:
mylist

['one', 'two', 'three', 'four', 'seven', 'eight', 'nine']

In [126]:
mylist.pop(4)

'seven'

In [127]:
mylist

['one', 'two', 'three', 'four', 'eight', 'nine']

### clear()
Empty List / Delete all items in the list

In [129]:
mylist.clear()  
mylist

[]

# 🤷‍♂️

In [130]:
# Delete the whole list 
del mylist 
mylist

NameError: name 'mylist' is not defined

In [131]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('omar')
usernames.append('bakr')
usernames.append('amr')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

Welcome, Omar!
Welcome, Bakr!
Welcome, Amr!

In [133]:
# Recognize our first user, and welcome our newest user.
print("Thank you for being our very first user, " + usernames[0].title() + '!')
print("And a warm welcome to our newest user, " + usernames[-1].title() + '!')

Thank you for being our very first user, Omar!
And a warm welcome to our newest user, Amr!

### Copy List

In [135]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [137]:
my_copied_list = mylist
my_copied_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [138]:
# The address of both mylist & mylist1 will be the same as both are pointing to same list.
id(mylist) , id(my_copied_list)

(1689249328064, 1689249328064)

In [139]:
list2 = mylist.copy()
list2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [142]:
# The address of mylist2 will be different from mylist because mylist2 is pointing to the copy of the existing list
id(list2)

1689248669120

### sort()  &  sorted()

**sorted() vs. sort()**

In [154]:
students = ['Omar', 'Bake', 'Mahmoud','Ahmed']

# Put students in alphabetical order.
students.sort()
students

['Ahmed', 'Bake', 'Mahmoud', 'Omar']

In [155]:
# Display the list in its current order.
print("Our students are currently in alphabetical order.")
for student in students:
    print(student.title())

Our students are currently in alphabetical order.
Ahmed
Bake
Mahmoud
Omar

In [156]:
#Put students in reverse alphabetical order.
students.sort(reverse=True)
students

['Omar', 'Mahmoud', 'Bake', 'Ahmed']

In [157]:
# Display the list in its current order.
print("\nOur students are now in reverse alphabetical order.")
for student in students:
    print(student.title())

Our students are now in reverse alphabetical order.
Omar
Mahmoud
Bake
Ahmed

In [158]:
sorted(students)

['Ahmed', 'Bake', 'Mahmoud', 'Omar']

In [160]:
students = ['Omar', 'Bake', 'Mahmoud','Ahmed']

students

['Omar', 'Bake', 'Mahmoud', 'Ahmed']

In [161]:
# Display students in alphabetical order, but keep the original order.
print("Here is the list in alphabetical order:")
for student in sorted(students):
    print(student.title())

Here is the list in alphabetical order:
Ahmed
Bake
Mahmoud
Omar

In [162]:
# Display students in reverse alphabetical order, but keep the original order.
print("\nHere is the list in reverse alphabetical order:")
for student in sorted(students, reverse=True):
    print(student.title())

Here is the list in reverse alphabetical order:
Omar
Mahmoud
Bake
Ahmed

In [174]:
print("\nHere is the list in its original order:")
# Show that the list is still in its original order.
for student in students:
    print(student.title())

Here is the list in its original order:
Omar
Bake
Mahmoud
Ahmed

In [178]:
numbers = [1, 3, 5 ,8, 4, 2]

# sorted() preserves the original order of the list:
print("sorted",sorted(numbers))
print("original",numbers)

sorted [1, 2, 3, 4, 5, 8]
original [1, 3, 5, 8, 4, 2]

In [179]:
# The reverse() function also works for numerical lists.
numbers.reverse()
print(numbers)

[2, 4, 8, 5, 3, 1]

### reverse()

In [164]:
s = ['a','p','k','e','x','b','c']
s

['a', 'p', 'k', 'e', 'x', 'b', 'c']

In [181]:
s.reverse()
s

['a', 'p', 'k', 'e', 'x', 'b', 'c']

### range()
is used with for loop
* range take three 'optional' parameters (start,end,step)

In [188]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [189]:
for number in range(1,11,2):
    print(number)

1
3
5
7
9

In [249]:
# Create a list of the first 100 numbers.
numbers = list(range(1,101))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

### count()

In [252]:
# count a particular item
lis =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
lis.count('three')

2

### The min (), max (), and sum () methods

In [201]:
a = [6,1,7,23,5,11,448,4]
a

[6, 1, 7, 23, 5, 11, 448, 4]

In [202]:
min(a)

1

In [203]:
max(a)

448

In [204]:
sum(a)

505

In [205]:
avarage = sum(a)/len(a)
avarage

63.125

## Simple problem 🎆

*Store the first ten `square` numbers in a list.*

In [206]:
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    new_square = number **2 
    squares.append(new_square)

In [207]:
# Show that our list is correct.
for s in squares:
    print(s)

1
4
9
16
25
36
49
64
81
100

## Fantastic  😅😍✨

### List Membership

In [211]:
# Check if eitem exist in the list
new_list = [4,5,6,2,7,2]
new_list

[4, 5, 6, 2, 7, 2]

In [212]:
2 in new_list

True

In [213]:
'item' in new_list

False

In [218]:
# Check if '5' exist in the listi
if '5' in new_list: 
    print('5 is present in the list')
else:
    print('5 is not present in the list')

5 is not present in the list

In [220]:
msg = "I like cats and dogs."
dog_present = 'dog' in msg
horse_present = 'horse' in msg
print(dog_present)
print(horse_present)

True
False

### Loop through a list

In [217]:
for i in new_list:
    print(i)

4
5
6
2
7
2

### split()

In [223]:
message = "I like cats and dogs, but I'd much rather own a dog."
words = message.split()
print(words)

['I', 'like', 'cats', 'and', 'dogs,', 'but', "I'd", 'much', 'rather', 'own', 'a', 'dog.']

In [224]:
animals = "dog, cat, tiger, mouse, liger, bear"
animals

'dog, cat, tiger, mouse, liger, bear'

In [232]:
print(animals.split(','))

['dog', ' cat', ' tiger', ' mouse', ' liger', ' bear']

### Formatting strings with Lists

In [234]:
animal = 'dog'
print("I have a %s." % animal)

I have a dog.

In [244]:
x = 6
print('this shape its hight %s.'%x)

this shape its hight 6.

In [247]:
animals = ('dog', 'cat', 'bear')
print("I have a %s, a %s, and a %s." % (animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.

In [253]:
animals = ('dog', 'cat', 'bear')
print("I have a {0}, a {1}, and a {2}."
      .format(animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.


## All / Any

The all() method returns:

* True - If all elements in a list are true
* False - If any element in a list is false

The any() function returns 
- True if any element in the list is True. If not, any() returns False.

In [255]:
ex = [1,2,3,4]
all(ex)

True

In [257]:
ex.append(0)
all(ex)

False

In [258]:
ex = [1,2,3,4]
any(ex)

True

In [259]:
ex.append(0)
any(ex)

True

In [262]:
l2 = [1,2,3,4,True,False]

In [263]:
print(all(l2))
print(any(l2))

False
True

## List Comprehensions

It's an advanced feature called list comprehensions, They allow for quick construction of lists
* List Comprehensions provide an elegant way to create new lists.

* It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.
* we can also `Beautify` it and make it easist by using `Lambda experssion`

### Expression
This image show the List Comprehension   <img src="list Comprehension.png" width=600 height=600 />

In [266]:
# Iterating through a string Using List Comprehension
word = 'Omar'
mylist = [ i for i in word ] 
mylist

['O', 'm', 'a', 'r']

***Display all even numbers between 0 - 40 using List Comprehension***

In [267]:
print([i for i in range(0,40) if i%2 ==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

***Display all odd numbers between 0 - 40 using List Comprehension***

In [269]:
print([i for i in range(0,40) if i%2 !=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

***Calculate square of all numbers between 0 - 10 using List Comprehension***

In [274]:
print([i**2 for i in range(0,10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

***List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension***

In [275]:
mylist = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist

[0, 36, 72, 108, 144, 180]

***If else in List Comprehension***

In [276]:
list1 = ['XS' , 'S', 'M' , 'L' , 'XL']

['Extra Small' if i =='XS' else ('Small' if i =='S' else ('Medium' if i =='M' else ('Large' if i=='L' else 'Extra Large')))  for i in list1]

['Extra Small', 'Small', 'Medium', 'Large', 'Extra Large']

## That's great keep on ✨