<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Tuples in Python</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

## Tuple
Tuple is an immutable list. Defined by parentheses.

* Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.

* When we do not want to change the data over time, tuple is a preferred data type.

* Iterating over the elements of a tuple is faster compared to iterating over a list.

### When you can use Tuples
* If you have immutable data, constant size and values.
* If you want speed up processing on the data.

### Tuple Creation

In [4]:
# Empty tuple
tup1 = ()
tup1

()

In [5]:
type(tup1)

tuple

In [6]:
# tuple of integers numbers
tup2 = (1,2,3,4)
tup2

(1, 2, 3, 4)

In [7]:
# Tuple of mixed data types
tup3 = (1, True,'omar',2,3.4)
tup3

(1, True, 'omar', 2, 3.4)

In [8]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])
print("The last color is: " + colors[-1])
# print("The last color is: " + colors[len(colors)-1])

print("\nThe available colors are:")
for color in colors:
    print("- " + color)

The first color is: red
The last color is: blue

The available colors are:
- red
- green
- blue

### Tuple Indexing

In [15]:
# Retreive the first element of the tuple
tup2[0]

1

In [16]:
# Retreive the las element of the tuple
tup2[-1]

4

In [17]:
tup2[:3]

(1, 2, 3)

In [25]:
## Nested indexing - Access the first character of the first tuple element
color[0][0]

'b'

### Tuple Slicing

In [26]:
numbers = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
numbers

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [29]:
# Return all items from 0th to 3rd index location excluding the item at location 3.
numbers[0:3]

('one', 'two', 'three')

In [30]:
# List all items from 2nd to 5th index location excluding the item at location 5.
numbers[2:5]

('three', 'four', 'five')

In [31]:
# Return first three items
numbers[:3]

('one', 'two', 'three')

In [32]:
# Return whole tuple.
numbers[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Tuple Methods

#### append()
* You cannot add anything to a tuple

In [33]:
colors = ('red', 'green', 'blue')
colors.append('black')

AttributeError: 'tuple' object has no attribute 'append'

#### count()

In [34]:
tup2.count(1)

1

#### Remove & Change Items

In [36]:
color[2] = 'white'

TypeError: 'str' object does not support item assignment

We can see String is also a Tuple

In [37]:
name = 'xmar mahmoud'
name[0] = 'O'

TypeError: 'str' object does not support item assignment

In [38]:
# Deleting entire tuple object is possible
del tup1

In [39]:
tup1

NameError: name 'tup1' is not defined

### Loop through a tuple

In [41]:
for i in colors:
    print(i)

red
green
blue

## That's great keep on ✨