<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Sets and Dictionary</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

# Sets

* 1) Unordered & Unindexed collection of items.

* 2) Set elements are unique. Duplicate elements are not allowed.

* 3) Remove duplications

* 4) Set elements are immutable (cannot be changed).

* 5) Set itself is mutable. We can add or remove items from it.

### Set Creation

In [3]:
s0 = {1,2,3,4,5}
s0

{1, 2, 3, 4, 5}

In [18]:
s1 = set([1,2,3,4,5])
s1

{1, 2, 3, 4, 5}

**set doesn't allow mutable items like lists**

In [17]:
s2 = {10,20, "Hola", [11, 22, 32]}
s2

TypeError: unhashable type: 'list'

## Set Methods

- `set.add (item)` - adds an item to the set.
- `set.remove (item)` - removes an item from the set. KeyError if no such element exists.
- `set.discard (item)` - removes an item if it is in a set.
- `set.pop ()` - removes the first item from the set. Since the sets are not ordered, it is impossible to say for sure which item will be the first.
- `set.update ()` - Add multiple item to a set using update() method
- `set.clear ()` - set clear.

In [20]:
# Add item to a set using add() method
s1.add(6) 
s1.add(7) 
s1

{1, 2, 3, 4, 5, 6, 7}

In [21]:
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7}

In [23]:
s1.discard(4)
s1

{1, 2, 3, 5, 6, 7}

In [24]:
s1.discard(2)
s1

{1, 3, 5, 6, 7}

In [25]:
s1.pop()
s1

{3, 5, 6, 7}

In [31]:
s1.update([8,9,10])
s1

NameError: name 's1' is not defined

In [27]:
s1.clear()
s1

set()

In [30]:
del s1
s1

NameError: name 's1' is not defined

# Frozenset
**frozenset - the same set, only immutable**

In [40]:
El_Ahly_fans = set(["Omar", "Bakr"])
print(El_Ahly_fans)
zmalek_fans = frozenset(["Omar", "Nick"])
print(El_Ahly_fans - zmalek_fans)
El_Ahly_fans.add("Leo")
El_Ahly_fans

{'Omar', 'Bakr'}
{'Bakr'}

{'Bakr', 'Leo', 'Omar'}

In [41]:
zmalek_fans.add("team")

AttributeError: 'frozenset' object has no attribute 'add'

## Set Operation

### union

In [43]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}
print(x)
print(y)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [49]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7}

In [50]:
z = {7,8,9,10}
z

{7, 8, 9, 10}

In [53]:
x.union(y,z)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**update**
* Updates the set calling the update() method with union of A , B & C. For below example Set A will be updated with union of A,B & C.

In [54]:
"""
"""
x.update(y,z)
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Union Figure** in image  <img src="union.svg" width=350 height=350 />

### Intersection

In [58]:
a = {1,2,3,4,5,6}
b = {2,4,6,8}
print(a)
print(b)

{1, 2, 3, 4, 5, 6}
{8, 2, 4, 6}

In [64]:
# a.intersection(b) == b.intersection(a) == a & b
a.intersection(b)

{2, 4, 6}

In [66]:
b.intersection(a)

{2, 4, 6}

In [67]:
a & b

{2, 4, 6}

In [68]:
a.intersection_update(b)
a

{2, 4, 6}

**Intersection Figure** in image  <img src="intersection.svg" width=350 height=350 />

## Difference

In [70]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [71]:
A - B

{1, 2, 3}

In [73]:
A.difference(B)

{1, 2, 3}

In [74]:
B - A

{6, 7, 8}

In [75]:
B.difference(A)

{6, 7, 8}

**Difference Figure** in image  <img src="difference.svg" width=350 height=350 />

## Symmetric Difference
* It's equal Union - Intersection

In [77]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [85]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [86]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
A.intersection(B)

{4, 5}

**Symmetric difference Figure** in image  <img src="symmetric.svg" width=350 height=350 />

## Subset , Superset & Disjoint

In [89]:
x = {1,2,3,4,5,6,7,8,9}
y = {3,4,5,6,7,8}
z = {10,20,30,40}
print(x)
print(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [90]:
# Set y is said to be the subset of set x if all elements of y are in x.
y.issubset(x)

True

In [91]:
z.issubset(x)

False

In [96]:
# Set x is said to be the superset of set y if all elements of y are in x.
x.issuperset(y)

True

In [98]:
z.issuperset(y)

False

In [99]:
# Two sets are said to be disjoint sets if they have no common elements.
x.isdisjoint(z)

True

## That's great keep on ✨