<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Lambda, Filter, Map and Reduce</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

# Lambda 

- ***`lambda`*** **function is an anonymous function (function without a name).**
- **We use lambda functions when we require a nameless function for a short period of time.**

**Lambda Expression** in image  <img src="lambda.png" width=500 height=500 />

In [1]:
# This example of lambda for additions.
addition = lambda x ,y : x + y

In [2]:
addition(5,10)

15

In [3]:
# This lambda function can take any number of args.
function = lambda *args: sum(args)

In [4]:
function(1,2,3,4,5,6,7,8,9)

45

In [18]:
function = lambda *args: max(args)

In [19]:
function(1,2,3,4,5,6,7,8,9,10)

10

In [23]:
#This lambda function can take any number of arguments and return thier sum.
res  = (lambda **kwargs: sum(kwargs.values()))

In [28]:
res(x = 1,y = 2,z = 3)

6

In [33]:
# User defined function to find product of numbers
def product(nums):  
    total = 1
    for i in nums:
        total *= i  
    return total

In [37]:
product([1,2,3,4,5])

120

In [41]:
res = (lambda **kwargs: product(kwargs.values()))
res(x= 10, y= 20, z= 30)

6000

# Filter
- **It is used to filter the iterables/sequence as per the conditions.**
- **It is normally used with Lambda functions to filter list, tuple, or sets.**
- **It take two parameters:**
    - *Coundition function*
    - *Iterable*

**Filter Expression** in image  <img src="filter.png" width=500 height=500 />

In [46]:
my_list= [1,2,3,4,5,6,7,8,9]
odd = list(filter(lambda a :a% 2 != 0,my_list))
odd

[1, 3, 5, 7, 9]

In [50]:
# Filter example with & operation
def condition(user):
    if len(user) > 4:
        return True
    else:
        return False
    
my_list = ['Omar','Bakr','Karim','Mahmoud','Amr']
fill = list(filter(lambda i :condition(i),my_list))
fill

['Karim', 'Mahmoud']

# Map
- **`map()`** **function applies a given function to each item of an iterable**
- **It takes two Parameters:**
    - *function*
    - *iterable*

**Map Expression** in image  <img src="map.png" width=500 height=500 />

In [52]:
list1 = [0,1,2,3,4,5]
list2 = [6,7,8,9,10,11]

In [64]:
def substract(x):
    return x-x

def add(x,y):
    return x+y

def square(x):
    return x*x

In [65]:
# Double each number using map & User defined function
print(list(map(substract, list1)))

[0, 0, 0, 0, 0, 0]

In [66]:
# add two items  using map & User defined function
print(list(map(add, list1, list2)))

[6, 8, 10, 12, 14, 16]

In [68]:
#Square numbers using map & User defined function
print(list(map(square, list1)))

[0, 1, 4, 9, 16, 25]

In [81]:
names = ["omar" , "bakr" , "karim" , "ali"]
def capetalize(x):
    return x.title()
names = list(map(capetalize,[i for i in names]))
# or
# names = list(map(lambda x : x.title(),names))
names

['Omar', 'Bakr', 'Karim', 'Ali']

# Reduce
- **The `**reduce()`** **function is defined in the functools python module.The reduce() function receives two arguments.**
-  **It returns a single value.**

In [84]:
# This reduce function will perform sum of all items in the list using user defined "add()" func.

from functools import reduce

doubles = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
def add(x,y):
    return x+y
  
sum_all = reduce(add,doubles) 
sum_all

110

In [91]:
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

110

In [105]:
def min_func(a, b):
        return a if a < b else b
 
def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list1) # Minimum number in the list using reduce () & User defined min function

max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & User defined min function

In [106]:
min_num

0

In [107]:
max_num

11

In [90]:
# Putting all together 

sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,list2)))))
sum_all

54

## That's great keep on âœ¨